<div class="show">
  <p id="notice"><%= notice %></p>

  <%= render 'application/show', territory: @terrin %>

  <%# link_to 'Edit', edit_terrin_path(@terrin) %>
  <%# link_to 'Back', terrins_path %>
</div>
