<div class="show">
  <p id="notice"><%= notice %></p>

  <%= render 'application/show', territory: @terrout %>

  <%# link_to 'Edit', edit_terrout_path(@terrout) %>
  <%# link_to 'Back', terrouts_path %>
</div>
