<div class="show">
  <p id="notice"><%= notice %></p>
  
  <%= render 'application/show', territory: @terr %>

  <%# link_to 'Edit', edit_terr_path(@terr) %>
  <%# link_to 'Back', terrs_path %>
</div>
